* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Hind, sans-serif
}

html {
    scroll-behavior: smooth;
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2? family= Hind:wght@300;400;500;600;700 & family= Montserrat:ital,wght@0,400;0,500;0,700; 1,700;1,800 & mostrar=cambiar');

  :root {
    /* background colors */
    --background: #02050e;
    --secondary: #272d37;
    --terciary: #052ea0;
    --nav-bg: #0f1525;
    /* Text colors */
    --text-color: #30F2CF;
    --text-white: #f3f4f6;
  
    /* Decoration */
    --fire: #ff6d00;
    --electric: #64d3ff;
  }

/* NAVBAR */
.navbar {
    display: flex;
    height: 150px;
    width: 100%vh;
    background-color: #0f1525;
    flex-direction: column;
}

.navbar-top {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar-bot {
    display: flex;
    height: 50px;
    width: 100%vh;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    height: 100px;
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 40%;
    background: #fff;
    border-radius: 15px;
}

.search-input {
    border: 0;
    outline: 0;
    font-size: 18px;
    width: 100%;
}

::placeholder {
    padding: 10px;
}

.search-btn {
    border: 0;
    outline: 0;
    height: 50px;
    width: 50px;
    background: transparent;
    cursor: pointer;
}

.search-btn img {
    border: 0;
    outline: 0;
    height: 30px;
    width: 30px;
    background: transparent;
}

.navbar-list {
    height: 100px;
    width: 25%;
    padding: 10px;
}

.navbar-list ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
}

.item-navbar-list {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #30F2CF;
    padding: 10px;
    border-radius: 10px;
}

/* .list-categorys {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list-categorys a {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
} */

.list-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.item-list-scroll  {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

/* Main */
main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* HERO */
.hero {
    width: 90%;
    height: 600px;
    margin: 50px 0px;
    background: var(--secondary);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 30px;
    gap: 100px;
}

.hero-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.hero-h1 {
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #30F2CF;
}

.hero-parrafo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.hero-span {
    color: #30F2CF;
}

.btn {
    background: #30F2CF;
    font-family: Hind, sans-serif;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}

.hero-btn {
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.hero-video {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-hero {
    border-radius: 200px 0px 200px 0px;
}

/* BENEFICIOS */
.sect-beneficios {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    margin: 50px 0px;
    border-radius: 20px;
    background: var(--secondary);
    height: 700px;
    padding: 40px 40px;
    gap: 20px;
}

.sect-beneficios h2 {
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.beneficios {
    display: flex;
    justify-content: space-between;
}


.beneficio {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: var(--terciary);
    border-radius: 15px;
}

.beneficio h2 {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color);
}

.beneficio p {
    color: var(--text-white);
    font-size: 24px;
}

/* Productos Destacados */
.sect-productos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;
    margin: 50px 0px;
    border-radius: 20px;
    background: var(--secondary);
    height: 800px;
    padding: 40px 40px;
    gap: 20px;
}

.sect-productos h2 {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.productos-top, .productos-bot {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 10px;
}

.productos-objeto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: var(--terciary); */
    padding: 10px;
    gap: 10px;
    border: solid 2px;
    border-radius: 10px;
}

.descrip-objeto {
    color: var(--text-white);
    font-size: 16px;
    font-weight: 400;
}

.precio-objeto {
    color: var(--fire);
    font-weight: 600;
    font-size: 22px;
}

.btn-objeto {
    width: 150px;
    height: 150px;
    background: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.btn-objeto a {
    color: black;
    font-weight: 600;
}
