* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Hind, sans-serif
}

html {
    scroll-behavior: smooth;
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2? family= Hind:wght@300;400;500;600;700 & family= Montserrat:ital,wght@0,400;0,500;0,700; 1,700;1,800 & mostrar=cambiar');

  :root {
    /* background colors */
    --background: #02050e;
    --secondary: #272d37;
    --terciary: #052ea0;
    --nav-bg: #0f1525;
    /* Text colors */
    --text-color: #30F2CF;
    --text-white: #f3f4f6;
  
    /* Decoration */
    --precio: #ff6d00;
    --electric: #64d3ff;
  }

/* NAVBAR */
.navbar {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: #0f1525;
    flex-direction: column;
}

.navbar-top {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar-bot {
    display: flex;
    height: 50px;
    width: 100%vh;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    height: 100px;
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 40%;
    background: #fff;
    border-radius: 15px;
}

.search-input {
    border: 0;
    outline: 0;
    font-size: 18px;
    width: 100%;
}

::placeholder {
    padding: 10px;
}

.search-btn {
    border: 0;
    outline: 0;
    height: 50px;
    width: 50px;
    background: transparent;
    cursor: pointer;
}

.search-btn img {
    border: 0;
    outline: 0;
    height: 30px;
    width: 30px;
    background: transparent;
}

/* Login - Register */
     .navbar-top i {
        font-size: 40px;
        display: none;
    }

    #login-register {
        display: none;
    }

/* Menu Hamburguesa */
    .navbar i {
        font-size: 40px;
        display: none;
    }

    #toggle-menu {
        display: none;
    }

.navbar-list {
    height: 100px;
    width: 30%;
    padding: 10px;
}

.navbar-list ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
}

.item-navbar-list {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #30F2CF;
    padding: 10px;
    border-radius: 10px;
}

.list-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.item-list-scroll  {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

/* Main */
main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* HERO */

/* Para centrar Hero */
#Home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 90%;
    height: auto;
    margin: 50px 0px;
    background: var(--secondary);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 100px;
}

.hero-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.hero-h1 {
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #30F2CF;
}

.hero-parrafo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.hero-span {
    color: #30F2CF;
}

.btn {
    background: #30F2CF;
    font-family: Hind, sans-serif;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}

.hero-btn {
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.hero-video {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-hero {
    display: flex;
    width: 100%;
    border-radius: 200px 0px 200px 0px;
}

/* BENEFICIOS */
.sect-beneficios {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    margin: 50px 0px;
    border-radius: 20px;
    background: var(--secondary);
    height: auto;
    padding: 40px 40px;
    gap: 15px;
}

.sect-beneficios h2 {
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.beneficios {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}


.beneficio {
    width: 24%;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: linear-gradient(#30F2CF,#272d37);
    border-radius: 15px;
}

.beneficio h2 {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color);
}

.beneficio p {
    color: var(--text-white);
    font-size: 24px;

}

/* Productos Destacados */
.sect-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 50px 0px;
    border-radius: 20px;
    background: var(--secondary);
    height: auto;
    padding: 40px 40px;
    gap: 20px;
}

.sect-productos h2 {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.productos-top, .productos-bot {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 10px;
}

.productos-objeto {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: space-between;
    background: var(--background);
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}

.descrip-objeto {
    color: var(--text-white);
    font-size: 16px;
    font-weight: 600;
}

.precio-objeto {
    color: var(--precio);
    font-weight: 600;
    font-size: 22px;
}

.btn-objeto {
    width: 100px;
    height: 50px;
    background: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 0;
}

.btn-objeto a {
    color: black;
    font-weight: 600;
}

.sect-productos button {
    color: black;
    font-weight: 600;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    background: var(--text-color);
    cursor: pointer;
}

/* CONTACTO */
.contacto {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px 0px;
    border-radius: 20px;
    background: var(--secondary);
    height: auto;
    gap: 20px;
    padding: 40px 40px;
}

.contacto-contenido {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.contacto h2 {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    align-content: start;
    color: var(--text-white);
    gap: 30px;
}

.fa-solid {
    font-size: 25px;
    padding: 5px;
    color: var(--text-color);

}

.contacto-info span {
    font-weight: 600;
}

.contacto-map {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    display: flex;
    gap: 10px;
}

.map {
    width: 50%;
}

/* FOOTER */
footer {
    background-color: var(--nav-bg);
    height: auto;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    color: var(--text-white);
}

.footer-ayuda, .footer-redes li {
    cursor: pointer;
    padding-top: 10px;
}

#li-ayuda {
    padding-top: 15px;
}

footer span {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
}

.fa-brands {
    padding: 5px;
    color: var(--text-color);
}